@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom,#D6DAD9, #627D98); 
    background-attachment: fixed;
}

main{
    background-color: #fff;
    width: 1050px;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #45596db2;
}

p{
    text-align: justify;
}

h1{
    color: #921329;
    text-align: center;
    text-shadow: 1px 1px 3px #6d0d1d8f;
}

h2{
    color: #102A43;
}

a{
    color:#803a00;
    font-style: italic;
}