@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: linear-gradient(to bottom,#FFFFFF, #A9B6CC); 
    background-attachment: fixed;

}

main{
    background-color: #fff;
    width: 1050px;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #45596db2;
}

p{
    text-align: justify;
    font-size: 1em;
    text-indent: 20px;
    
}

h1{
    color: #63320E;
    text-align: center;
    text-shadow: 1px 1px 3px #422109c7;
}

h2{
    color: #95998A;
    text-decoration: underline;
}

a{
    color:#BDCC94;
    font-style: italic;
}