body{
    font: normal normal 25px Arial, sans-serif;
}

h1{
    text-align: center;
}

caption{
    font-size: 20px;
    padding: 3px;
    background-color: rgba(202, 202, 202, 0.815);
    border-top: 2px solid black;
}

table{
    width: 500px;
    border: 2px solid black;
    margin: auto;
}

td, th{
    border: 2px solid black;
}

tbody > tr:nth-child(2n){
    background-color: rgba(184, 182, 182, 0.815);
}

thead,tfoot{
    background-color: gray;
}

.num{
    text-align: right;
}